*{
    margin: 0;
    padding: 0;
}
#logo{
    font-size: 25px;
    padding-left: 10px;
}
.navbar{
    background-color: aqua;
    color: rgb(0, 0, 0);
    height: 60px;
    font-size: 17 px;
    
}
button{
    background: rgb(197, 105, 0);
    color: aliceblue;
}
a{
    /* border: 2px solid black; */
    margin-right: 330px;
}